
{{#if isAuth.check}}
<div class="container-fluid">
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active" id="bc-jump">
			Report History
		</li>
	</ol>

 {{> message-center this}}

<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-pills individual-report-btn-box">
				<li class="nav-item">
					<a class="nav-link ml-4">
						<small>
							Sort ASC or DESC
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-4 active" id="date-sort">
						<small>
							Sort by Date
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-4 active" id="ref-sort">
						<small>
							Sort by Reference
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-4 active" id="app-sort">
						<small>
							Sort by App
						</small>
					</a>
				</li>
			</ul>
		</div>
		<div class="card-block date-desc init" id="previous-reports">
			{{#unless reports}}
			<h4>You have not generated any reports yet.</h4>
			{{else}}
		{{#each reports}}
			<div class="row previous-report" id="pr-{{@index}}" {{{stripeRows @index}}}>
				<div class="col col-md-12 text-left">
					<h4>
						<span class="app-to-sort">{{appName}}</span><span class="ref-to-sort">{{#if reference}}: {{reference}}{{/if}}</span>: <span class="date-to-sort">{{date}}</span>
					</h4>
					<!-- / date-reference -->
				</div>
				<div class="col col-md-12 text-left">
					<p id="rt-{{@index}}">
						{{{text}}}
					</p>
					<!-- /text -->
				</div>
				<ul class="nav nav-pills individual-report-btn-box">
						<a href="/report/download/{{reportId}}" download class="btn btn-outline-info p-2">
							<small>
								Download
							</small>
						</a>
						<a href="#" data-report="{{reportId}}" class="btn btn-outline-info p-2 send-pdf">
							<small>
								Email
							</small>
						</a>
						<a href="/copy/{{reportId}}" class="btn btn-outline-info p-2" id="er-{{@index}}">
							<small>
								Copy Plain Text
							</small>
						</a>
					<!-- /buttons -->
				</ul>
				<!-- /row -->
			</div>
			{{/each}}
		{{/unless}}
		<!-- /previous reports -->
		</div>
		<!-- /previous module -->
</div>
</div>
{{/if}}
