<div class="container-fluid">
	{{#if messages}}
		{{#each messages}}
			<div class="row">
				<div class="col col-md-12 message-item" id="{{id}}">
					{{{text}}}
					<!-- / message-item col -->
				</div>
				<!-- /message-item row -->
			</div>
		{{/each}}
	{{/if}}

	<div class="row">
		<div class="col col-md-4">
			<!-- end placeholder div -->
		</div>
		<div class="col col-md-4">
			<h2 class="text-center">Edit Your Settings</h2>
			<p>Your current password is required to make changes.  Complete whichever fields you wish to change and submit the form.  You do not have to change all fields.</p>
			<form id="change-form" action="/user" method="POST">
				<div class="form-group">
					<label>Current Registered Email Address</label>
					<span id="logged-in-email" class="form-control">{{isAuth.email}}</span>
				</div>
				<div class="form-group">
					<label>Current Username</label>
					<span id="logged-in-username" class="form-control">{{isAuth.username}}</span>
				</div>
				<div class="form-group">
					<label>Current First Name</label>
					<span id="logged-in-firstname" class="form-control">{{isAuth.firstname}}</span>
				</div>
				<div class="form-group">
					<label>Current Last Name</label>
					<span id="logged-in-lastname" class="form-control">{{isAuth.lastname}}</span>
				</div>
				<div class="form-group">
					<label>Current Password</label>
					<input
						type="password"
						name="password"
						class="form-control"
						pattern="^\S{8,}(?!.*(?:@|\u0022|\u0027|\u201C|\u201D|\u2018|\u2019|\u0060|\u00B4).*)$"
						text="Password can't have the \u0022 or \u0027 symbols and must be at least 8 characters."
						required
					/>
					<div class="hide-show">
						<small class="show">Show</small>
					</div>
				</div>
				<div class="form-group">
					<label>New Email</label>
					<input
						type="email"
						name="newEmail"
						title="Please enter a valid email."
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>New Username</label>
					<input
						type="text"
						name="newUsername"
						pattern="^(?!.*(?:@|\u0022|\u0027|\u201C|\u201D|\u2018|\u2019|\u0060|\u00B4).*)"
						text="Username can't have the @, \u0022, or \u0027 symbols"
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>New First Name</label>
					<input
						type="text"
						name="newFirstname"
						pattern="^(?!.*(?:\u0022|\u0027|\u201C|\u201D|\u2018|\u2019|\u0060|\u00B4).*)"
						text="First name can't have the \u0022 or \u0027 symbols"
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>New Last Name</label>
					<input
						type="text"
						name="newLastname"
						pattern="^(?!.*(?:\u0022|\u0027|\u201C|\u201D|\u2018|\u2019|\u0060|\u00B4).*)"
						text="Last name can't have the \u0022 or \u0027 symbols"
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>New Password</label>
					<input
						type="password"
						name="newPassword"
						pattern="^\S{8,}(?!.*(?:@|\u0022|\u0027|\u201C|\u201D|\u2018|\u2019|\u0060|\u00B4).*)$"
						text="Password can't have the \u0022 or \u0027 symbols and must be at least 8 characters."
						class="form-control"
					/>
					<div class="hide-show">
						<small class="show">Show</small>
					</div>
				</div>
				<div class="button-container">
					<button type="submit" class="btn btn-default">Change Data</button>
					<button type="button" id="delete-account" class="btn btn-default">Delete Account</button>
				</div>
			</form>
			<!-- end form col -->
		</div>
		<div class="col col-md-4">
			<!-- end placeholder div -->
		</div>
		<!-- end settings edit row -->
	</div>
	<!-- end container fluid -->
</div>
